#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    combos {
        compatible = "zmk,combos";

        L_Parenthesis {
            bindings = <&kp LS(NUMBER_9)>;
            key-positions = <4 3>;
        };

        L_Brace {
            bindings = <&kp LS(LEFT_BRACKET)>;
            key-positions = <4 3 2>;
        };

        L_Bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <4 3 2 1>;
        };

        R_Parenthesis {
            bindings = <&kp LS(NUMBER_0)>;
            key-positions = <7 8>;
        };

        R_Brace {
            bindings = <&kp LS(RIGHT_BRACKET)>;
            key-positions = <7 8 9>;
        };

        R_Bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <7 8 9 10>;
        };

        Space {
            bindings = <&kp SPACE>;
            key-positions = <16 15>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <16 15 14>;
        };

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <16 15 13 14>;
        };

        BackSpace {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
        };

        Delete {
            bindings = <&kp DELETE>;
            key-positions = <19 20 21>;
        };

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <19 20 21 22>;
        };

        Equal-0 {
            bindings = <&kp EQUAL>;
            key-positions = <28 27>;
        };

        Backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <28 27 26>;
        };

        Grave {
            bindings = <&kp GRAVE>;
            key-positions = <28 27 26 25>;
        };

        Plus-0 {
            bindings = <&kp LS(EQUAL)>;
            key-positions = <31 32>;
        };

        Pipe {
            bindings = <&kp LS(BACKSLASH)>;
            key-positions = <31 32 33>;
        };

        Tilde {
            bindings = <&kp LS(GRAVE)>;
            key-positions = <31 32 33 34>;
        };

        Underscore {
            bindings = <&kp LS(MINUS)>;
            key-positions = <16 37>;
        };

        Minus {
            bindings = <&kp MINUS>;
            key-positions = <28 37>;
        };

        Plus-1 {
            bindings = <&kp LS(EQUAL)>;
            key-positions = <19 40>;
        };

        Equal-1 {
            bindings = <&kp EQUAL>;
            key-positions = <31 40>;
        };

        TO0 {
            bindings = <&to 0>;
            key-positions = <38 39>;
        };
    };

    behaviors {
        mo_tag: mo_tag {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TAG";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        TD_L1: TD_L1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_L1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&hold_mo 1>, <&tap_tog 1>;
        };

        TD_L2: TD_L2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_L2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&hold_mo 2>, <&tap_tog 2>;
        };

        TD_L3: TD_L3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_L3";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&hold_mo 3>, <&tap_tog 3>;
        };

        hold_mo: hold_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_MO";
            bindings = <&mo>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        tap_tog: tap_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_TOG";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&tog>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            bindings = <
&kp TAB    &kp Q  &kp W      &kp E     &kp R  &kp T                              &kp UP                &kp Y        &kp U  &kp I      &kp O    &kp P     &kp BSPC
&td0       &kp A  &kp S      &kp D     &kp F  &kp G                    &kp LEFT  &kp ENTER  &kp RIGHT  &kp H        &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X      &kp C     &kp V  &kp B       &kp SPACE              &kp DOWN              &kp N        &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                             &kp LGUI  &mo 1  &lt 3 SPACE                                              &lt 3 ENTER  &mo 2  &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&trans  &kp N1           &kp N2          &kp N3        &kp N4        &kp N5                                &trans            &kp N6           &kp N7           &kp N8           &kp N9           &kp N0    &kp BSPC
&trans  &bt BT_CLR_ALL   &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3                  &trans  &mkp LCLK  &trans &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &kp HOME  &kp PG_UP
&trans  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &trans        &trans        &rgb_ug RGB_EFF &kp C_MUTE            &trans            &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp END   &kp PG_DN
                                         &trans        &trans        &trans                                                  &kp INS          &kp DEL          &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp EXCL      &kp AT        &kp HASH   &kp DLLR   &kp PRCNT                       &trans            &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&trans  &bt BT_CLR    &mkp LCLK     &mkp MCLK  &mkp RCLK  &mkp MB4                &trans  &mkp LCLK  &trans &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&trans  &out OUT_USB  &out OUT_BLE  &none      &none      &mkp MB5  &kp C_MUTE            &trans            &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                                    &trans     &trans     &kp SPACE                                         &kp RET    &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&trans  &kp F1      &kp F2      &kp F3       &kp F4     &kp F5                         &trans            &kp F6       &kp F7     &kp F8       &kp F9      &kp F10          &kp F11
&trans  &trans      &mkp LCLK   &mkp MCLK    &mkp RCLK  &mkp MB4               &trans  &mkp LCLK  &trans &bootloader  &mkp LCLK  &mkp MCLK    &mkp RCLK   &kp PRINTSCREEN  &kp F12
&trans  &sys_reset  &trans      &bootloader  &trans     &mkp MB5 &kp C_MUTE            &trans            &trans       &trans     &bootloader  &sys_reset  &kp SCROLLLOCK   &kp PAUSE_BREAK
                                &trans      &trans      &trans                                           &trans       &trans     &trans
            >;

            sensor-bindings = <&rgb_encoder>;
        };
    };
};
